In [8]:
#importando pandas

import pandas as pd

In [13]:
#definindo caminho arquivo
# arquivo = 'C:\\Users\\a481688\\Documents\\Case\\CASE (1).csv'

#importando arquivo
df = pd.read_csv(arquivo, sep=';')

df

,mes_ref,data_competencia,status_ordem_venda,canal_1,codigo_cliente,empresa,fabrica,codigo_setor_atividade,codigo_produto,ROL_Receita,VOL_Volume
0,2024-05-01,2024-05-22,FATURAMENTO,HOME CENTER,1085118,DECA,METAIS,MS,2031.GL33,492,2
1,2024-02-01,2024-02-20,FATURAMENTO,VAREJO,1052646,DECA,METAIS,MS,2280.BL.MT,12742,5
2,2024-01-01,2024-01-12,FATURAMENTO,VAREJO,1052620,DECA,METAIS,MS,4688.224,184,5
3,2024-04-01,2024-04-22,FATURAMENTO,VAREJO,1054712,DECA,METAIS,MS,2550.E.112.BR,1211,11
4,2024-06-01,2024-06-30,FATURAMENTO,VAREJO,1053639,DECA,METAIS,MS,2550.E.112.BE,926,7
...,...,...,...,...,...,...,...,...,...,...,...
2870889,2025-05-01,2025-05-08,VENDA,VAREJO,1260076,DECA,METAIS,MS,1198.C33,955,3
2870890,2025-05-01,2025-05-08,VENDA,VAREJO,1260076,DECA,METAIS,MS,1502.B.212,2190,7
2870891,2025-05-01,2025-05-09,FATURAMENTO,VAREJO,1011684,DECA,METAIS,MS,1984.C.ACT.LNK.CR,457,2
2870892,2025-05-01,2025-05-09,FATURAMENTO,ENGENHARIA,1009634,DECA,LOUÇAS,LS,P.510.17,8464,16
2870893,2025-05-01,2025-05-09,FATURAMENTO,ENGENHARIA,1251577,DECA,METAIS,MS,1878.C87,1905,1

In [ ]:
#faturamento mês, desc 

faturamento_mensal = df.groupby('mes_ref')['ROL_Receita'].sum().reset_index()
faturamento_mensal.columns = ['mes_ref', 'faturamento_total']
faturamento_mensal = faturamento_mensal.sort_values(by='faturamento_total', ascending=False)
faturamento_mensal

       mes_ref  faturamento_total
9   2024-10-01          443570797
8   2024-09-01          436662499
6   2024-07-01          433440183
4   2024-05-01          426653762
7   2024-08-01          426475465
17  2025-06-01          420140595
10  2024-11-01          397342856
16  2025-05-01          396236062
5   2024-06-01          393831231
15  2025-04-01          388290702
2   2024-03-01          381898196
3   2024-04-01          374984370
14  2025-03-01          372807758
11  2024-12-01          364448151
13  2025-02-01          359650990
18  2025-07-01          353819183
1   2024-02-01          349278490
0   2024-01-01          302289769
12  2025-01-01          284054099

In [ ]:
#produtos mais vendidos volume top 10

produtos_mais_vendidos = df.groupby('codigo_produto')['VOL_Volume'].sum().sort_values(ascending=False).reset_index()
produtos_mais_vendidos.columns = ['codigo_produto', 'volume_total']
produtos_mais_vendidos.head(10)

  codigo_produto  volume_total
0       4509.202       7490761
1       4416.202       5395519
2       6059800A       3306232
3    4900.C35.PQ       2054230
4       P.111.17       1526166
5       6061653A       1471818
6       6062709A       1139316
7       4550.504       1086364
8       6061631A       1029034
9         1602.C       1012079

In [ ]:
# produtos mais vendidos  receita top 10
produtos_mais_faturaram = df.groupby('codigo_produto')['ROL_Receita'].sum().sort_values(ascending=False).reset_index()
produtos_mais_faturaram.columns = ['codigo_produto', 'faturamento_total']

produtos_mais_faturaram.head(10)

  codigo_produto  faturamento_total
0       4509.202          180533259
1      KP.211.17          166618803
2       6059800A          139877485
3       P.111.17          136638591
4       4416.202          127861523
5      KP.470.17          127625072
6       4550.504           87057800
7       4493.000           67243371
8      CD.00F.17           60426645
9      KP.210.17           55220146

In [ ]:
#ticket medio por cliente, top 20, ascendente 
ticket_medio = df.groupby('codigo_cliente')['ROL_Receita'].sum() / df.groupby('codigo_cliente')['ROL_Receita'].count()
ticket_medio = ticket_medio.reset_index()
ticket_medio.columns = ['codigo_cliente', 'ticket_medio']
ticket_medio = ticket_medio.sort_values(by='ticket_medio', ascending=False)
ticket_medio.head(20)

       codigo_cliente   ticket_medio
13405         1503152  405591.500000
16212         1542537  326674.500000
4285          1033617  308118.000000
15965         1540380  221453.000000
13025         1433759  200247.285714
16998         1549058  156126.909091
17002         1549076  145161.177966
18590         1562862  129194.000000
19108         1568667  126702.750000
14162         1521615  121222.000000
15085         1533017  108681.000000
19722         1575726  106961.000000
19278         1570203  104109.000000
10410         1087307  103929.714286
18894         1565931  102569.500000
18860         1565735  101095.333333
18171         1559264  100213.333333
4336          1034277   95837.500000
3999          1027517   95778.000000
18365         1560772   94308.000000